doctype html
html(lang='en')
	head
		title= title
		meta(charset='utf-8')
		meta(http-equiv='X-UA-Compatible', content='IE=edge')
		meta(name='viewport', content='width=device-width, initial-scale=1')
		link(rel='stylesheet', href='/stylesheets/bootstrap3/bootstrap.css')
		link(rel='stylesheet', href='/stylesheets/style.css')
	body
		div(class='container-fluid')
			block content
		script(type='text/javascript', charset='utf-8', src='https://code.jquery.com/jquery-1.11.3.min.js')
		script(type='text/javascript', charset='utf-8', src='/socket.io/socket.io.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/bootstrap.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/framework.cache.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/framework.socket.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/framework.eventing.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/framework.uifx.js')
		script(type='text/javascript', charset='utf-8', src='/javascripts/framework.js')