extends layout/master

block content
	div(class='row')
		div(class='col-md-12')
			h1= title
			p Welcome to #{title}
	div(class='row')
		div(class='col-md-2', id='channels-container')
			include channels.jade
		div(class='col-md-2', id='topics-container')
			include topics.jade
		div(class='col-md-8', id='messages-container')
			include messages.jade