extends layout/master

block content
	div(class='row', id='header')
		div(class='col-md-2')
			h1= title
			p Welcome to #{title} &nbsp;
				span(class='glyphicon glyphicon-info-sign',data-toggle='tooltip', data-placement='bottom', title='Click to select messages then drag&drop them to the desired topic')
		div(class='col-md-10', id='channels-container')
			include channels.jade
	div(class='row')
		div(class='col-md-2', id='topics-container')
			//- include topics.jade
		div(class='col-md-10', id='messages-container')
			//- include messages.jade
	input(type='hidden', name='current_channel', id='current_channel', value=channel)
	input(type='hidden', name='current_topic', id='current_topic', value='')
	include modals/addTopic.jade